/**
 * Common Style Sheet
 * Banana site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Iliya melishev, Tal Reznic
 */
@color_yellow: #fed000;
@color_yellow_dark: #cd872a;
@color_grey: #1b1b1b;
@color_white: #ffffff;
@color_black: #000000;
@color_blue: #3498db;

@font-face {
	font-family: 'open-sans';
	font-weight: 700;
	src: url(../images/fonts/opensanshebrew-bold-webfont.woff) format('woff');
}
@font-face {
	font-family: 'open-sans';
	font-weight: 400;
	src: url(../images/fonts/opensanshebrew-regular-webfont.woff) format('woff');
}

a.action {
	overflow: hidden;
	position: relative;
}

.button-animation(@color: color) {
	&:before {
		position: absolute;
		content: "";
		height: 2px;
		background-color: darken(@color, 10);
		border-radius: 5px;
		left: 0;
		bottom: 5px;
		right: 0;
		z-index: -1;
		transform: scaleX(0);
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:active,
	&:focus {
		&:before {
			transform: scaleX(1);
		}
	}
}