/**
 * Content Style Sheet
 * Banana site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Iliya melishev, Tal Reznic
 */

/**
 * Link to top
 */
a.arrow_top {
	position: fixed;
	right: 1em;
	top: 50%;
	fill: @color_yellow;
	padding: 1em;
	transition: all 0.3s;
}

a.arrow_top:hover {
	fill: lighten(@color_yellow, 30%);
	transform: scale(1.1);
}

a.arrow_top svg {
	width: 3em;
	height: 3em;
	display: block;
}

section {
	padding: 2em calc(~'(100% - 1200px)' / 2);
}

section.footer_commercial {
	text-align: center;
	padding: 0em calc(~'(100% - 1200px)' / 2);
	padding-bottom: 2em;
}

section#search {
	text-align: center;
}

section.promoted {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	width: 600px;
}

section.promoted:nth-of-type(n+3) {
	padding-top: 1em;
}

section.promoted > a {
	text-decoration: none;
	color: @color_white;
}

section.promoted > a > h1 {
	margin: 0;
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 1.5em;
}

section.footer_commercial h2,
section > h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	margin-bottom: 0.5em;
	text-align: center;
	padding: 0.2em 0em;
	background-color: @color_grey;
	border: 1px solid @color_white;
	position: relative;
	overflow: hidden;
	width: 500px;
}

section.item_details div.item_categories {
	a.action {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: #ffffff;
		transition: all 0.3s;
		font-size: 0.8em;

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 6px;
			height: 6px;
			line-height: 100%;
			background-color: @color_yellow;
			border-radius: 50%;
			margin: 0 0.5em;
		}
	}
}

div.item_categories a span,
section h1 span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -17px;
	background-size: 2.3em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

section.promoted h1 span {
	background-position: center -13px;
}

section.category_areas {
	position: relative;
	text-align: center;
}

section#search div.category_items {
	width: 1200px;
}

div.area_menu a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em;
	color: @color_white;
	border-radius: 0;
	background-image: none;
	background-color: @color_grey;
}

div.item {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid fade(@color_white, 20%);
	width: 180px;
	height: 350px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

div.item:hover {
	border-color: fade(@color_white, 50%);
}

div.item[data-priority^="2"] {
	width: 216px;
	height: 386px;
	background-color: fade(@color_yellow, 20%);
}

div.item[data-priority^="1"] {
	width: 216px;
	height: 386px;
	background-color: fade(@color_blue, 20%);
}

section#search div.category_items.gallery div.item {
	width: 800px;
}

div.item a.image {
	display: block;
	text-align: center;
	height: 180px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

div.item a.image img {
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s;
}

div.item a.image:hover img {
	transform: scale(1.2);
}

div.item h2 {
	margin: 0;
	padding: 0.5em 0.5em;
	font-size: 1em;
}

div.item p {
	margin: 0;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	min-height: 4em;
}

div.item a.phone {
	position: absolute;
	padding: 0.5em 0em;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: @color_white;
	font-weight: 700;
	white-space: nowrap;
	transition: all 0.3s;
	border-radius: 0;
}

div.item a.phone:hover {
	background-color: fade(@color_yellow, 10%);
}

div.item a.phone:after,
div.item a.phone:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 0.1em;
	background:
	linear-gradient(135deg, fade(@color_grey, 100%) 10%, @color_yellow 100%);
	transition: all 0.3s;
}

div.item a.phone:after {
	left: auto;
	top: auto;
	bottom: 0;
	right: 0%;
	background:
	linear-gradient(135deg, fade(@color_yellow, 100%) 10%, @color_grey 100%);
}


div.item[data-priority^="2"] a.phone:after {
	background:
	linear-gradient(135deg, transparent 0%, @color_yellow 100%);
}

div.item[data-priority^="2"] a.phone:before {
	background:
	linear-gradient(135deg, fade(@color_yellow, 100%) 10%, @color_white 100%);
}

/**
 * Detail Page
 */

section.item_details h1 {
	margin-bottom: 1em;
}

section.item_details div.information {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	padding: 1em;
	padding-top: 0;
}

section.item_details div.information p {
	margin: 0;
}

section.item_details div.information a.phone {
	display: inline-block;
	padding: 0.5em 1em;
	color: @color_white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3em;
	margin: 1em 0;
	transition: all 0.3s;
}

section.item_details div.information a.phone:hover {
	background-color: fade(@color_yellow, 20%);
}

section.item_details div.information a.phone:before {
	left: 0;
}

section.item_details div.information a.phone:after {
	right: 0;
}

section.item_details div.item_categories a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: @color_white;
	font-weight: 400;
	font-size: 0.8em;
	transition: all 0.3s;
}

section.item_details div.item_categories a:hover {
	background-color: @color_grey;
}

section.item_details div.item_categories a span {
	background-position: center -6.7px;
}

section.item_details div.item_gallery {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	position: relative;
}

section.item_details div.item_gallery div.main_image {
	display: inline-block;
	vertical-align: top;
	width: 440px;
	position: relative;
	height: 480px;
	overflow: hidden;
}

section.item_details div.item_gallery div.main_image img.big_image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

section.item_details div.item_gallery div.thumbnails {
	display: inline-block;
	vertical-align: top;
	height: 480px;
	position: relative;
	width: 125px;
	overflow: hidden;
}

section.item_details div.item_gallery div.thumbnails img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	height: 146px;
	opacity: 0;
	transition: all 0.1s;
}

section.item_details div.item_gallery div.thumbnails img.visible {
	visibility: visible;
	opacity: 1;
}

section.item_details div.item_gallery div.controllers {
	display: block;
	width: 125px;
	height: 35px;
	margin-left: 35px;
	margin-right: auto;
	margin-top: 1em;
	background-color: @color_grey;
}

section.item_details div.item_gallery div.controllers a {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	height: 100%;
	text-align: center;
}

section.item_details div.item_gallery div.controllers a:active {
	background-color: @color_yellow_dark;
}

section.item_details div.item_gallery div.controllers a svg {
	border: 1px solid @color_yellow_dark;
	fill: @color_white;
	width: 100%;
	height: 100%;
}
/**
 * Banners
 */
div.commercial {
	display: block;
	position: relative;
}

section.footer_commercial a,
a.link {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: @color_white;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border: 1px solid @color_white;
	height: 200px;
	width: 560px;
	transition: all 0.3s;
}

div.category_items a.link {
	margin-bottom: 10px;
}

div.category_items a.link:nth-of-type(2n) {
	margin-left: 10px;
}

html[dir="rtl"] div.category_items a.link:nth-of-type(2n) {
	margin-left: 0px;
	margin-right: 10px;
}

section.footer_commercial a {
	width: 180px;
	height: 180px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	position: relative;
}

section.footer_commercial a:before {
	content: attr(title);
	position: absolute;
	padding: 0.5em;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@color_grey, 90%);
}

section.footer_commercial a:hover,
a.link:hover {
	border-color: @color_yellow;
}

/**
 * Areas menu
 */
nav#areas {
	display: block;
}

nav#areas ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#areas > ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

nav#areas > ul > li > a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 1em 1em;
	font-weight: 700;
	font-size: 1.2em;
	color: @color_white;
	position: relative;
}

nav#areas > ul > li > a:before {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	margin-left: 5px;
	border: 7px solid transparent;
	border-top-color: #fff;
	line-height: 0;
	font-size: 0;
	transform: translateY(5%) rotate(90deg);
	transition: all 0.3s;
}

nav#areas > ul > li:hover a:before {
	transform: translateY(35%) rotate(0deg);
	transition: all 0.3s;
	transition-delay: 0s;
	border-top-color: @color_yellow;
}

nav#areas > ul > li > a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -11px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

nav#areas > ul > li:hover ul {
	max-height: 700px;
	opacity: 1;
	visibility: visible;
	transition: all 0.6s;
	transition-delay: 0s;
}

nav#areas ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	background-color: @color_grey;
	border: 1px solid fade(@color_white, 20%);
	width: 250px;
	transition: all 0.6s;
	transition-delay: 0.3s;
}

html[dir="rtl"] nav#areas ul li ul {
	left: auto;
	right: 0;
}

nav#areas ul li ul li {
	display: block;
}

nav#areas ul li ul li a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	font-weight: 700;
	color: @color_white;
	transition: all 0.3s;
}

nav#areas ul li ul li a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -9px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

nav#areas ul li ul li a:hover {
	background-color: fade(@color_yellow, 10%);
}

#missing  {
	background-image: url(../images/404_missing_page_backgound.jpg);
	background-position: center;
	background-size: 1300px 800px;
	background-repeat: no-repeat;
	min-height: 800px;
	position: relative;
	padding: 0em calc(~'(100% - 1200px)' / 2 );
}

#missing h2 {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	background-color: fade(white, 70%);
	color: @color_grey;
}

/**
 * Agreement page
 */

div.intro {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @color_white;
	text-align: center;
}

div.intro img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

div.intro div.content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: fade(@color_white, 70%);
	padding-top: 1em;
}

div.intro div.content a.action {
	display: inline-block;
	text-decoration: none;
	padding: 1em 2em;
	color: @color_black;
	transition: all 0.3s;
}

div.intro div.content a.action:hover {
	background-color: lighten(@color_grey, 20%);
	color: @color_white;
}

div.intro div.content a.action:before {
	left: 0;
}

div.intro div.content a.action:after {
	right: 0;
}

div.intro div.content article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	color: @color_black;
}

/**
 * New items on site
 */
div#new_items {
	position: relative;
	min-height: 220px;
	margin-top: 2rem;
	overflow: hidden;

	div.item {
		position: absolute;
		width: 120px;
		height: 220px;
		opacity: 0;
		pointer-events: none;

		transition: all 0.3s, right 1s, opacity 1s;
		transition-timing-function: linear, ease-in-out, linear;

		> a {
			height: auto;
		}

		&.transit {
			opacity: 0;
			transition: none;
		}

		&.visible {
			opacity: 1;
			pointer-events: auto;
		}

		h4 {
			margin: 0;
			margin-top: 0.3rem;
			padding: 0 0.3rem;
			font-size: 0.7rem;
			text-align: center;
		}

		a.phone {
			background-color: @color_yellow;
			color: @color_black;
		}
	}
}

// Tablet
@media only screen and (max-width: 1200px) {
	header {
		div.main {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}

	section {
		&.promoted {
			width: auto;
			padding: 2rem 1rem;
		}
	}
}
