/**
 * Content Style Sheet
 * Banana site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Iliya melishev, Tal Reznic
 */


 /*
  * Link to top
 */

 a.arrow_top {
 	right: 0.5em;
 	top: 50%;
 	fill: @color_yellow;
 	padding: 1em;
 	transition: all 0.3s;
 }

 a.arrow_top:hover {
 	fill: lighten(@color_yellow, 30%);
 	transform: scale(1.1);
 }

 a.arrow_top svg {
 	width: 2em;
 	height: 2em;
 	display: block;
 }

/*
 * Advertise Form
*/

a.phone {
 	font-size: 1em;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	color: @color_white;
 	text-align: center;
 	display: block;
 }

a.phone:after {
 	content: "";
 	display: block;
 	background-image: url(../images/footer-note-vector.svg);
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: 75% auto;
 	height: 15px;
}

form {
 	display: block;
 	margin-top: 1em;
 	border: 1px solid fade(@color_white, 50%);
 	box-sizing: border-box;
 	margin: 1em 0.5em;
 	position: relative;
}

form label span {
 	display: inline-block;
 	vertical-align: middle;
 	box-sizing: border-box;
 	padding: 0.7em 1em;
 	line-height: 1.5em;
 	width: 100px;
 	background-color: @color_grey;
 	color: @color_white;
}

form label input {
 	display: inline-block;
 	vertical-align: middle;
 	box-sizing: border-box;
 	padding: 0.7em 0.2em;
 	line-height: 1.5em;
 	border: none;
 	box-shadow: none;
 	background-color: fade(@color_white, 50%);
 	color: @color_black;
 	width: calc(~'(100% - 100px)');
 	margin: 0;
}

form label input {
 	width: calc(~'(100% - 100px - 3em)');
}

form button {
 	display: inline-block;
 	vertical-align: middle;
 	box-sizing: border-box;
 	border: none;
 	border-radius: 0;
 	width: 3em;
 	height: 2.9em;
 	background-color: @color_yellow;
 	color: @color_black;
 	cursor: pointer;
}

section {
	padding: 1em 0.5em;
	text-align: center;
}

section.footer_commercial h2,
section > h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	text-align: center;
	padding: 0.2em 0em;
	font-size: 1.2em;
	background-color: @color_grey;
	border: 1px solid @color_white;
	position: relative;
	overflow: hidden;
}

div.item_categories a span,
section h1 span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -10px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

/**
* Home page categories links
*/
a.category {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-decoration: none;
	margin: 2.5% 2.5%;
	padding: 0.2em;
	color: @color_white;
	font-weight: 700;
	width: 40%;
	height: 150px;
	position: relative;
	overflow: hidden;
	border: 1px solid @color_yellow;
}

a.category img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.category h3.title {
	position: absolute;
	margin: 0;
	padding: 1em 0em;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 1em;
	background-color: fade(@color_black, 80%);
}

/**
 * Areas menu
 */
nav#areas {
	display: block;
	padding: 0.5em 0em;
	text-align: center;
}

nav#areas ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#areas > ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

nav#areas > ul > li > label {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 1em 1em;
	font-weight: 700;
	font-size: 1em;
	color: @color_white;
	position: relative;
}

nav#areas > ul > li > label:before {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	margin-left: 5px;
	border: 7px solid transparent;
	border-top-color: #fff;
	line-height: 0;
	font-size: 0;
	transform: translateY(5%) rotate(90deg);
}

nav#areas > ul > li input {
	display: none;
}

nav#areas > ul > li input:checked + label:before {
	transform: translateY(35%) rotate(0deg);
	border-top-color: @color_yellow;
}

nav#areas > ul > li > label span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -9px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

nav#areas > ul > li > input:checked ~ ul {
	display: block;
}

nav#areas ul li ul {
	display: none;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	background-color: @color_grey;
	border: 1px solid @color_yellow;
	width: 95%;
}

nav#areas ul li ul li {
	display: block;
}

nav#areas ul li ul li a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	font-weight: 700;
	color: @color_white;
	transition: all 0.3s;
}

nav#areas ul li ul li a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -9px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_white;
}

div.item {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-top: 0.5em;
	margin-bottom: 5%;
	border: 1px solid fade(@color_white, 20%);
	width: 45%;
	min-height: 320px;
	position: relative;
	overflow: hidden;
}

div.item:nth-of-type(2n) {
	margin-right: 5%;
}

div.item[data-priority^="2"] {
	background-color: fade(@color_yellow, 20%);
}

div.item[data-priority^="1"] {
	background-color: @color_grey;
}

div.item a.image {
	display: block;
	text-align: center;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

div.item a.image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.item h2 {
	margin: 0;
	padding: 0.2em 0.2em;
	font-size: 1em;
}

div.item p {
	margin: 0;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.item a.phone {
	position: absolute;
	padding: 0.5em 0em;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: @color_white;
	font-weight: 700;
	white-space: nowrap;
	transition: all 0.3s;
	border-radius: 0;
}

div.item a.phone:after,
div.item a.phone:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 0.1em;
	background:
	    linear-gradient(135deg, fade(@color_grey, 100%) 10%, @color_yellow 100%);
	transition: all 0.3s;
}

div.item a.phone:after {
	left: auto;
	top: auto;
	bottom: 0;
	right: 0%;
	background:
	    linear-gradient(135deg, fade(@color_yellow, 100%) 10%, @color_grey 100%);
}

div.item[data-priority^="2"] a.phone:after {
	background:
	    linear-gradient(135deg, transparent 0%, @color_yellow 100%);
}

div.item[data-priority^="2"] a.phone:before {
	background:
	    linear-gradient(135deg, fade(@color_yellow, 100%) 10%, @color_white 100%);
}
/**
 * Details page
*/

section.item_details div.main_image {
	display: block;
	width: 100%;
	min-height: 370px;
	margin: 0 auto;
	position: relative;
}

section.item_details div.main_image img {
	position: absolute;
	top: 0;
	right: auto !important;
	left: 50%;
	transform: translateX(-50%);
}

section.item_details div.main_image img.visible {
	visibility: visible;
	opacity: 1;
}

section.item_details div.item_gallery div.thumbnails {
	display: block;
	margin: 0 auto;
	height: 80px;
	position: relative;
	width: 90%;
	overflow: hidden;
}

section.item_details div.item_gallery div.thumbnails img {
	position: absolute;
	top: 0;
	visibility: hidden;
	height: 70px;
	opacity: 0;
	transition: all 0.3s;
}

section.item_details div.item_gallery div.thumbnails img.visible {
	visibility: visible;
	opacity: 1;
}

section.item_details div.controllers {
	display: block;
	width: 100%;
}

section.item_details div.controllers a {
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
}

section.item_details div.controllers a.next {
	transform: rotate(90deg);
}

section.item_details div.controllers a.prev {
	transform: rotate(90deg);
}

section.item_details div.controllers a svg {
	width: 35px;
	height: 35px;
	display: block;
	margin: 0 auto;
	fill: white;
}

section.item_details div.information a.phone {
	display: inline-block;
	padding: 0.5em 1em;
	color: @color_white;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3em;
	margin: 1em 0;
	transition: all 0.3s;
	background-color: fade(@color_yellow, 20%);
}

section.item_details div.information img.note {
	display: block;
	height: auto;
	width: 90%;
	margin: 0 auto;
}

section.item_details div.information a.phone:before {
	left: 0;
}

section.item_details div.information a.phone:after {
	right: 0;
}

section.item_details div.item_categories a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: @color_white;
	font-weight: 400;
	padding: 0.3em;
	font-size: 0.8em;
	transition: all 0.3s;
}

section.item_details div.item_categories {
	a.action {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: #ffffff;
		transition: all 0.3s;
		font-size: 0.8em;

		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 6px;
			height: 6px;
			line-height: 100%;
			background-color: @color_yellow;
			border-radius: 50%;
			margin: 0 0.5em;
		}
	}
}

section.item_details div.item_categories a span {
	background-position: center -6px;
}

/**
 * Banners
 */
div.commercial {
	display: block;
	position: relative;
}

section.footer_commercial a,
a.link {
	display: inline-block;
	vertical-align: middle;
	margin: 2.5% 0px;
	text-decoration: none;
	color: @color_white;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border: 1px solid @color_white;
	width: 81vw;
	height: calc(~'81vw *' (200 / 560));
	transition: all 0.3s;
}

section.category_areas a.link {
	width: 90vw;
	height: calc(~'90vw*' (200 / 560));
}

div.category_items a.link {
	margin-top: 0;
	margin-bottom: 5%;
}

section.footer_commercial a {
	width: 120px;
	height: 120px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	margin-bottom: 10px;
}

section.footer_commercial a:before {
	content: attr(title);
	position: absolute;
	padding: 0.5em;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@color_grey, 90%);
}

section.footer_commercial a:hover,
a.link:hover {
	border-color: @color_yellow;
}

/**
 * Agreement page
 */

div.intro {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @color_white;
	text-align: center;
	z-index: 10000000;
}

div.intro img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

div.intro div.content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, fade(@color_white, 0%) 20%, @color_white);
}

div.intro div.content a.action {
	display: inline-block;
	text-decoration: none;
	padding: 1em 2em;
	background-color: @color_grey;
	color: @color_white;
	transition: all 0.3s;
}

div.intro div.content a.action:before {
	left: 0;
}

div.intro div.content a.action:after {
	right: 0;
}

div.intro div.content article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	color: @color_black;
}

div.intro div.content article p {
	font-size: 2.4vh;
}

// read more style
div.category_description {
	margin-bottom: 2rem;

	&.has-read-more {
		max-height: 5rem;
		overflow: hidden;
		position: relative;
		transition: all ease-in-out 0.3s;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 2em;
			opacity: 1;
			background-image: linear-gradient(180deg, rgba(23, 24, 27, 0), @color_black);
			pointer-events: auto;
			transition: opacity 0.4s;
		}

		&.active {
			max-height: 20em;
			min-height: 16em;
			padding-bottom: 2em;
			transition: all ease-in-out 0.3s;

			a.read-more {
				&::before {
					transform: rotate(-45deg);
				}
			}

			&::before {
				opacity: 0;
				pointer-events: none;
			}
		}

		a.read-more {
			position: absolute;
			width: 2em;
			height: 2em;
			bottom: 0;
			left: 50%;
			border: 1px solid #ffffff;
			border-radius: 50%;
			background-color: @color_black;
			filter: drop-shadow(0 0 10px @color_black);
			line-height: 0;
			transform: translateX(-50%);

			&::before {
				display: block;
				content: '';
				width: 0;
				height: 0;
				position: relative;
				left: -0.5em;
				bottom: -0.5em;
				border: 0.5em solid transparent;
				border-right-color: @color_white;
				border-top-color: @color_white;
				transform-origin: 50%;
				transform: rotate(135deg);
				line-height: 0;
			}
		}
	}
}