/**
 * Footer Style Sheet
 * Banana site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Iliya melishev, Tal Reznic
 */

footer {
	padding: 1em calc(~'(100% - 1200px)' / 2);
	background-color: @color_grey;
}

footer article {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding-bottom: 2em;
}

footer article p {
	margin: 0;
}

/*
 * Right Side Div
*/

footer div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 40%;
	box-sizing: border-box;
}

footer div img.logo {
	width: 200px;
	display: block;
	margin: 0 auto;
}

footer div img.logo_text {
	padding: 0.5em 0;
	margin: 0 auto;
	display: block;
	width: 70%;
}

footer div form {
	display: block;
	width: 100%;
}

footer div form label {
	display: inline-block;
	vertical-align: middle;
}

footer div form label input {
	display: inline-block;
	vertical-align: middle;
	padding: 0.8em;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid transparent;
	background-color: fade(white, 50%);
	transition: all 0.3s;
}

footer div form label input:hover {
	background-color: fade(@color_white, 70%);
}

footer div form label input:focus {
	background-color: @color_white;
}

footer div form label span {
	padding-left: 1em;
}

footer div form button {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid transparent;
	padding: 0.8em;
	display: inline-block;
	vertical-align: middle;
	background-color: @color_yellow;
	font-weight: 700;
	color: @color_grey;
	cursor: pointer;
	transition: all 0.3s;
}

footer div form button:hover {
	color: @color_white;
}

footer div a.phone {
	display: block;
	text-align: center;
	color: @color_white;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
	padding-top: 0.5em;
	transition: all 0.3s;
}

footer div a.phone:hover {
	color: @color_yellow_dark;
}

/*
 * Left Side Nav
*/

footer nav {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

footer nav a {
	display: inline-block;
	vertical-align: middle;
	color: @color_white;
	text-decoration: none;
	padding: 1em;
	transition: all 0.3s;
	box-sizing: border-box;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	transform: perspective(1px) translateZ(0);
	transition: all 0.3s;

	&.service {
		.button-animation(@color_white);
	}

	.button-animation(@color_yellow);
}

footer nav a span {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -11px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: #fff;
}

// Tablet
@media only screen and (max-width: 1200px) {
	footer {
		padding: 2rem 1rem;
	} 
}